# R / RStudio
.Rhistory
.RData
.Rproj.user/
.Ruserdata
.Rprofile
.Renviron
*Rproj

# R packages and intermediate files
*.RData
*.rda

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs and temp
*.log
*.tmp

# Python cache (if any)
__pycache__/

# Uncomment to ignore data folder if you don't want to track CSVs
# data/

# Ignore private config overrides (should not be committed)
RScript/config.private.yaml


#venv
.venv*
.positai


#Outputs
PlotOutput/


#PrivatData
GarminUserData/
LifestyleLoggingExtractor/Out/
ChronometerUserData/
/data

RScript/sleep_source_compare_2026-04-05.csv
RScript/sleep_source_compare*
.posit/assistant
